In [1]:
# pip install sodapy

In [2]:
# pip install us

In [3]:
import pandas as pd
from sodapy import Socrata
import requests as rq
import matplotlib.pyplot as plt
import us

In [4]:
# Enrollment data by state
# Source: https://www.kff.org/health-reform/state-indicator/medicaid-expansion-enrollment/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D

df_medicaid = pd.read_csv('data/KFF_medicaid_enrollment.csv', header=2).loc[:51] # get rid of junk rows
df_medicaid = df_medicaid.loc[df_medicaid['Location'] != 'United States'] # just states & DC
df_medicaid = df_medicaid.rename(columns={
    'Location':'state',
    'Expanded by September 30th, 2022':'expanded_medicaid'
})
df_medicaid['expanded_medicaid'] = df_medicaid['expanded_medicaid'].replace({'Yes': True, 'No': False})
df_medicaid = df_medicaid[['state', 'expanded_medicaid']]

df_medicaid.head()

        state  expanded_medicaid
1     Alabama              False
2      Alaska               True
3     Arizona               True
4    Arkansas               True
5  California               True

In [5]:
# # Life expectancy by state (2010-2015)
# # Docs: https://dev.socrata.com/foundry/data.cdc.gov/5h56-n989

# client = Socrata("data.cdc.gov", None)
# data = client.get("5h56-n989", where='county_name = "(blank)"')
# df_life_exp_src = pd.DataFrame.from_records(data)

# # df_life_exp = df_life_exp.set_index('state_name')

# df_life_exp = df_life_exp_src.copy()
# df_life_exp = df_life_exp.drop('county_name', axis=1)
# df_life_exp = df_life_exp.rename(columns={'le':'LE'})
# df_life_exp[['LE Range Lower', 'LE Range Upper']] = df_life_exp['le_range'].str.split('-', expand=True)
# df_life_exp = df_life_exp.drop(columns=['le_range', 'se_le'])

# df_life_exp['LE'] = df_life_exp['LE'].astype(float)
# df_life_exp['LE Range Lower'] = df_life_exp['LE Range Lower'].astype(float)
# df_life_exp['LE Range Upper'] = df_life_exp['LE Range Upper'].astype(float)

# df_life_exp.head()

In [6]:
df_life_exp = pd.read_csv('data/cdc_life_exp.csv')
df_life_exp = df_life_exp.rename(columns={'STATE':'state_abbr', 'RATE':'life_exp'})

df_life_exp = df_life_exp.loc[df_life_exp['YEAR'] == max(df_life_exp['YEAR'])]
state_names = []
for s in df_life_exp['state_abbr']:
    state_names.append(us.states.lookup(s).name)
df_life_exp['state'] = state_names
df_life_exp = df_life_exp[['state', 'life_exp']]
df_life_exp.head(5)

        state  life_exp
0     Alabama      73.2
1      Alaska      76.6
2     Arizona      76.3
3    Arkansas      73.8
4  California      79.0

In [51]:
# API endpoint URL for poverty rate data by state
url = 'https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEPOVRTALL_PT&for=state:*&time=2021'

response = rq.get(url)
data = response.json()
cols = data[0]

df_poverty = pd.DataFrame(data[1:], columns=cols)
df_poverty = df_poverty.rename(columns={'NAME':'state',
                                        'SAEPOVRTALL_PT':'poverty_rate',
                                        'state':'state_num'})
df_poverty['poverty_rate'] = df_poverty['poverty_rate'].astype(float)
df_poverty = df_poverty.sort_values('poverty_rate', ascending=False).reset_index()[['state','poverty_rate']]

In [54]:
# df_life_exp = df_life_exp.merge(df_medicaid, how='inner', on='state')
df_life_exp = df_life_exp.sort_values('life_exp').reset_index().drop(columns='index')

             state  life_exp_x  expanded_medicaid  life_exp_y
0          Alabama        73.2              False        73.2
1           Alaska        76.6               True        76.6
2          Arizona        76.3               True        76.3
3         Arkansas        73.8               True        73.8
4       California        79.0               True        79.0
5         Colorado        78.3               True        78.3
6      Connecticut        78.4               True        78.4
7         Delaware        76.7               True        76.7
8          Florida        77.5              False        77.5
9          Georgia        75.6              False        75.6
10          Hawaii        80.7               True        80.7
11           Idaho        78.4               True        78.4
12        Illinois        76.8               True        76.8
13         Indiana        75.0               True        75.0
14            Iowa        77.5               True        77.5
15          Kansas        76.4              False        76.4
16        Kentucky        73.5               True        73.5
17       Louisiana        73.1               True        73.1
18           Maine        77.8               True        77.8
19        Maryland        76.8               True        76.8
20   Massachusetts        79.0               True        79.0
21        Michigan        76.0               True        76.0
22       Minnesota        79.1               True        79.1
23     Mississippi        71.9              False        71.9
24        Missouri        75.1               True        75.1
25         Montana        76.8               True        76.8
26        Nebraska        77.7               True        77.7
27          Nevada        76.3               True        76.3
28   New Hampshire        79.0               True        79.0
29      New Jersey        77.5               True        77.5
30      New Mexico        74.5               True        74.5
31        New York        77.7               True        77.7
32  North Carolina        76.1              False        76.1
33    North Dakota        76.9               True        76.9
34            Ohio        75.3               True        75.3
35        Oklahoma        74.1               True        74.1
36          Oregon        78.8               True        78.8
37    Pennsylvania        76.8               True        76.8
38    Rhode Island        78.2               True        78.2
39  South Carolina        74.8              False        74.8
40    South Dakota        76.7              False        76.7
41       Tennessee        73.8              False        73.8
42           Texas        76.5              False        76.5
43            Utah        78.6               True        78.6
44         Vermont        78.8               True        78.8
45        Virginia        77.6               True        77.6
46      Washington        79.2               True        79.2
47   West Virginia        72.8               True        72.8
48       Wisconsin        77.7              False        77.7
49         Wyoming        76.3              False        76.3

In [ ]:
def make_plot(df, y_col, y_lbl, title):
    df = df.merge(df_medicaid, how='inner', on='state')
    
    plt.figure(figsize=(10, 5))
    for i in range(len(df)):
        if df.loc[i, 'expanded_medicaid']:
            plt.scatter(i, df[y_col][i], c='#30b5f2', marker='o')
        else:
            plt.scatter(i, df[y_col][i], c='#eb4034', marker='D')
    plt.xticks(range(len(df)), df['state'], rotation='vertical')

    plt.xlabel('State')
    plt.ylabel(y_lbl)
    plt.title(title)
    plt.axvline(x=len(df)/2, color='green', linestyle='-')
    plt.show()

In [ ]:
make_plot()

In [52]:
# plt.figure(figsize=(10, 5))
# for i in range(len(df_medicaid)):
#     if df_medicaid.loc[i, 'expanded_medicaid']:
#         plt.scatter(i, df_medicaid['life_exp'][i], c='#30b5f2', marker='o')
#     else:
#         plt.scatter(i, df_medicaid['life_exp'][i], c='#eb4034', marker='D')
# plt.xticks(range(len(df_medicaid)), df_medicaid['state'], rotation='vertical')

# plt.xlabel('State')
# plt.ylabel('Life Expectancy (2020)')
# plt.title('Life Expectancy by State')
# plt.axvline(x=len(df_medicaid)/2, color='green', linestyle='-')
# plt.show()